<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <title>Simulado</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="index.php" class="navbar-brand">Web</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="?acao=Form" class="nav-link">Formulário</a>
                    </li>
                    <li class="nav-item">
                        <a href="?acao=Tabela" class="nav-link">Tabela</a>
                    </li>
                    <li class="nav-item">
                        <a href="?acao=Sorteio" class="nav-link">Sorteio</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="container">
            {conteudo}
        </section>
        <footer>
            <div class="container-fluid p-3 mb-2 bg-light text-dark">
                &copy; CopyLeft
            </div>
        </footer>
    </body>
</html>